@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Quanta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

</head>
<body>
<header>
    <div class="container-fluid d-flex justify-content-between align-items-baseline mb-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow p-1 flex-grow-1 mx-auto">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Quanta</a>
            </div>
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" asp-area="" asp-controller="Chat" asp-action="Index"><i class="fa-solid fa-comment"></i></a>
                    </li>
                </ul>
            </div>
            <button id="themeToggle" class="btn" type="button"><i id="themeIcon" class="fas"></i></button>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonDark">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a class="dropdown-item" href="#">@UserManager.GetUserName(User)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a id="manage" class="nav-item btn dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-item btn dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li>
                            <a class="nav-item btn dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <form id="logoutForm" class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div> 

</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Quanta - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    function setTheme(theme) {
        document.body.setAttribute("data-bs-theme", theme);
        localStorage.setItem("theme", theme);

        const themeIcon = document.getElementById("themeIcon");

        // Змінюємо іконку в залежності від теми
        if (theme === "dark") {
            themeIcon.classList.remove("fa-moon");
            themeIcon.classList.add("fa-sun");
        } else {
            themeIcon.classList.remove("fa-sun");
            themeIcon.classList.add("fa-moon");
        }
    }

    function getSystemTheme() {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark" : "light";
    }

    document.addEventListener("DOMContentLoaded", function() {
        const savedTheme = localStorage.getItem("theme");
        const themeToApply = savedTheme || getSystemTheme();
        setTheme(themeToApply);
    });

    document.getElementById("themeToggle").addEventListener("click", function() {
        const currentTheme = document.body.getAttribute("data-bs-theme");
        const newTheme = currentTheme === "dark" ? "light" : "dark";
        setTheme(newTheme);
    });
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>