@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@model List<PostWithUsernameViewModel>

<div class="text-center">
    
    @foreach (var item in Model)
    {
        var post = item.Post;
        var username = item.Username;
        <div class="card mb-3 text-lg-start">
            <div class="card-header">
                <strong>@username</strong>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <h2 class="card-title">@post.Title</h2>

                    @if ((DateTime.Now - post.Created).TotalMinutes < 15)
                    {
                        <span class="badge bg-success">New</span>
                    }
                </div>

                <p class="card-text">@post.Content</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <small class="text-muted"><i class="fa-solid fa-clock-rotate-left"></i> @Quanta.Controllers.HomeController.GetTimeAgo(post.Created)</small>
            </div>
        </div>
    }
</div>
<p class="text-center">That's all</p>