@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <hr/>
        <div class="col-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email">Email <span class="text-danger">*</span></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.Password">Password <span class="text-danger">*</span></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.ConfirmPassword">Confirm Password <span class="text-danger">*</span></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email">Full Name</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email">Birthday</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email">Avatar url</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary col-">Register</button>
        <small><a class="link-primary link-underline link-underline-opacity-0 link-underline-opacity-100-hover" asp-area="Identity" asp-page="/Account/Login">Already have an account?</a></small>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
